<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
    </style>
</head>
<body>
    <h1>Titan Secure</h1>
    <div class="opts">
        <div class="options">
            <a href="/register">Register</a>
            <a href="/signin">Sign in</a>
        </div>
    </div>
</body>
</html>
